[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipykernel = "*"
pylint = "*"
jupyter = "*"
pytest = "*"
rope = "*"

[packages]
dash = "*"
pandas = "*"
dash-bootstrap-components = "*"
gunicorn = "*"
python-dotenv = "*"

[requires]
python_version = "3.8"

[scripts]
dashapp_dev = "python index.py"
deploy_to_pws = 'cf push staying-up-to-date-explorable --strategy rolling -b python_buildpack -m 256M'
